<h2>{{ title }}</h2>
<hr/>

<section id="form">
  <form #formDev="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <label>Nome</label>
      <input [(ngModel)]="dev.name" class="form-control" id="name" name="name" required type="text">

      <label>Email</label>
      <input [(ngModel)]="dev.email" class="form-control" id="email" name="email" required type="text">

      <label>Idade</label>
      <input [(ngModel)]="dev.age" class="form-control" id="age" min="0" max="2" name="age" required type="number">

      <label>Linkedin</label>
      <input [(ngModel)]="dev.linkedin" class="form-control" id="linkedin" name="linkedin" required type="text">

      <label>Tecnologias</label>

      <ng-multiselect-dropdown
        [placeholder]="'Escolha'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="dev.skills"
        name="skills"
      >
      </ng-multiselect-dropdown>
    </div>

    <button class="btn btn-primary mr-2" type="submit">Salvar</button>
    <button [routerLink]="['']" class="btn btn-secondary" type="button">Cancelar</button>
  </form>
</section>
